<h1></h1>
<form action="/game">
  <h2>Player 1</h2>
  <select class="" name="player1">
    <label for="player1">Please select one of the following options</label>
    <option value ="rock">rock</option>
    <option value="paper">paper</option>
    <option value="scissors">scissors</option>
  </select>

  <h2>Player 2</h2>
  <select class="" name="player2">
    <label for="player2">Please select one of the following options</label>
    <option value="rock">rock</option>
    <option value="paper">paper</option>
    <option value="scissors">scissors</option>
  </select>
  <button type="submit" >send</button>

</form>

<h3><%=@output%></h3>
